{% extends "src/index.njk" %}

{% block content %}
<h1>Moon</h1>
<p>The Moon is Earth's only natural satellite, known for its phases and impact on our planet's tides, and it's the only other celestial body that humans have set foot on.</p>
{% endblock %}
